<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="BookstoreClient"
  contract="Bookstore_Service.IBookstore"
  binding="wsHttpBinding"
  address="http://localhost:8732/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </client>
  </system.serviceModel>
</configuration>
